<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='footer.component.css'>
    <script src="https://kit.fontawesome.com/5e2e201a7f.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src='main.js'></script>

</head>
<body>

    <!-- Agrega la clase 'footer-container' al contenedor principal del footer -->
    <div class="footer-container">
        <footer class="bg-dark text-light py-4">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-contact-info">
                        <h5>Información</h5>
                        <p><i class="fas fa-map-marker-alt"></i> Direccion: Avenida 4 Norte # 26-54, Santiago de Cali, Colombia</p>
                        <p><i class="fas fa-envelope"></i> Correo: sentirfisioterapiaavanzada@hotmail.com</p>
                        <p><i class="fas fa-phone"></i> Teléfono: +57 324 3691495</p>
                        <a [routerLink]="['/Politica_calidad']" href=""><i class="fa-solid fa-inbox"></i> Politica de calidad</a>
                    </div>
                    <div class="col-md-4 footer-contact-info">
                        <h5>Horario de atención</h5>
                        <p>Lunes a Viernes: 7:00 AM - 6:00 PM</p>
                        <p>Sábados: Cerrado</p>
                        <p>Domingos: Cerrado</p>
                    </div>
                    <div class="col-md-4 footer-social-icons">
                        <h5>Síguenos en redes sociales</h5>
                        <div class="d-flex justify-content-center">
                            <a href="https://web.facebook.com/sentirfisioterapia" target="_blank"  class="btn btn-outline-light btn-social">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="https://api.whatsapp.com/send?phone=%2B573243691495&data=ARDRiBExteVzkgJdm1TVQ-u0MXV-_wMCQGUcmdunoiySV2iBqPuyvMkde-5gW7Q6vBI-pXEixxwe29ordzBdctY6hwKVF4xPbu2n290t-DB9M9gSvzewWOgBG8kWQNmk727QoCKxaFkKi-7AYqQMDyX0Rg&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwAR3bPqxI5BrbRWxC9Di0gIQ15TOjyTP4uXnwKJk9ALdikhOJ66IFp4ZxYkM" target="_blank"  class="btn btn-outline-light btn-social">
                                <i class="fab fa-whatsapp-square"></i>
                            </a>
                            <a href="https://www.instagram.com/sentir_fisioterapia_cali/" target="_blank" class="btn btn-outline-light btn-social">
                                <i class="fab fa-instagram-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <hr class="bg-light">
                <div class="text-center">
                    <p>Todos los derechos reservados &copy; {{ currentYear }} | Sentir Fisioterapia Avanzada</p>
                </div>
            </div>
        </footer>
    </div> <!-- Cierre del div con la clase 'footer-container' -->

</body>
</html>
