/* Estilo para el logo en el navbar */
#Logo_sentir {
  width: 70px;
  height: 70px;
  margin-right: 10px;
  }
.navbar-brand {
  display: flex;
  align-items: center;
 }

 #logo_navbar {
  width: 70px ;
  height: 70px ;
  margin-right: 10px ;
  margin-left: -40px;
 }

/* Media Queries para responsive design */
@media (max-width: 576px) {
  #Logo_sentir {
    width: 50px;
    height: 50px;
    margin-left: 0;
  }
}

@media (min-width: 577px) and (max-width: 991px) {
  #Logo_sentir {
    width: 60px;
    height: 60px;
    margin-left: -30px;
  }
}