body {
    background-image: url('Logo_sent.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 30%; /* Adjust the percentage to control the size */
}

.contact-info {
    padding-left: 30px;
}
.contact-form {
    background-color: #f7f7f7;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 80px;
}
.contact-form h3 {
    margin-bottom: 20px;
}
.contact-form .form-group label {
    font-weight: bold;
}
.contact-form button {
    margin-top: 10px;
}

#container_info_contacto {
    margin-top: 150px;
    padding-left: 70px;
}

